<h1>images</h1>
<% @images.each do|image|%>
<p><%=link_to image.title%>
 <%= link_to '削除', "images/#{image.id}", method: :delete %>
 <%= link_to '編集', "images/#{image.id}/edit"%>
 <%= image_tag  "/get_image/#{image.id}" %>
 </p>
<%end%>
<p><%= link_to  '新規追加', 'images/new' %>
    <%= link_to  '昇順', sort: '#{image.title}' %>
    <%= link_to  '降順', 'images/new' %>
    <%= link_to  '入力順', 'images/new' %>
</p>
